@import url(variables.css);
*{
padding: 0;
margin: 0;
box-sizing: border-box;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_aqua{
    display: flex;
    width: 304px;
    height:96px;
    font-family:Roboto Condensed;
    font-size: 48px;
    color: var(--color-1);
    position: relative;
    align-items:center;
    padding-top: 31px;
}
.text{
    
    position: absolute;
    padding-left: 33px;

}
.awa{
    position: absolute;
    padding-left: 154px;
    padding-top: 8px;
}
.header_select{
    display: flex;
    font-size: 24px;
    font-family:Roboto Condensed;
    padding-top: 68px;
    gap: 94px;
    padding-right: 112px;

}
.header_select a{
    text-decoration: none;
    color:var(--color-2);
}
.header_style{
    display: flex;
    padding-right: 39px;
    padding-top: 51px;
    gap:27px;
}